In [10]:
import pandas as pd
import numpy as np
file_path = r"C:\Users\pratheeba sundar\Desktop\Intern 2\jewelry.csv"
df = pd.read_csv(file_path)
print(df.head())

   2018-12-01 11:40:29 UTC  1924719191579951782  1842195256808833386  1  \
0  2018-12-01 17:38:31 UTC  1924899396621697920  1806829193678291446  1
1  2018-12-02 13:53:42 UTC  1925511016616034733  1842214461889315556  1
2  2018-12-02 17:44:02 UTC  1925626951238681511  1835566849434059453  1
3  2018-12-02 21:30:19 UTC  1925740842841014667  1873936840742928865  1
4  2018-12-02 22:09:34 UTC  1925760595336888995  1835566854827934449  1

   1806829201890738522   jewelry.earring    0  561.51  1515915625207851155  \
0         1.806829e+18               NaN  NaN  212.14         1.515916e+18
1         1.806829e+18   jewelry.pendant  1.0   54.66         1.515916e+18
2         1.806829e+18   jewelry.pendant  0.0   88.90         1.515916e+18
3         1.806829e+18  jewelry.necklace  0.0  417.67         1.515916e+18
4         1.806829e+18   jewelry.earring  1.0  102.27         1.515916e+18

  Unnamed: 9     red  gold   diamond
0        NaN  yellow  gold       NaN
1          f   white  gold  sapphire
2          f     red  gold   diamond
3        NaN     red  gold  amethyst
4        NaN     red  gold       NaN

In [14]:
import pandas as pd
import numpy as np
file_path = r"C:\Users\pratheeba sundar\Desktop\Intern 2\jewelry.csv"
df = pd.read_csv(file_path)
df_cols = ['Datetime', 'OrderID', 'ProductID', 'Quantity', 'CategoryID', 'CategoryCode', 
           'BrandID', 'USDPrice', 'UserID', 'Gender', 'Color', 'Metal', 'Gem']
df.columns = df_cols
print(df.head())

                  Datetime              OrderID            ProductID  \
0  2018-12-01 17:38:31 UTC  1924899396621697920  1806829193678291446
1  2018-12-02 13:53:42 UTC  1925511016616034733  1842214461889315556
2  2018-12-02 17:44:02 UTC  1925626951238681511  1835566849434059453
3  2018-12-02 21:30:19 UTC  1925740842841014667  1873936840742928865
4  2018-12-02 22:09:34 UTC  1925760595336888995  1835566854827934449

   Quantity    CategoryID      CategoryCode  BrandID  USDPrice        UserID  \
0         1  1.806829e+18               NaN      NaN    212.14  1.515916e+18
1         1  1.806829e+18   jewelry.pendant      1.0     54.66  1.515916e+18
2         1  1.806829e+18   jewelry.pendant      0.0     88.90  1.515916e+18
3         1  1.806829e+18  jewelry.necklace      0.0    417.67  1.515916e+18
4         1  1.806829e+18   jewelry.earring      1.0    102.27  1.515916e+18

  Gender   Color Metal       Gem
0    NaN  yellow  gold       NaN
1      f   white  gold  sapphire
2      f     red  gold   diamond
3    NaN     red  gold  amethyst
4    NaN     red  gold       NaN

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95910 entries, 0 to 95909
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Datetime      95910 non-null  object
 1   OrderID       95910 non-null  int64
 2   ProductID     95910 non-null  int64
 3   Quantity      95910 non-null  int64
 4   CategoryID    90558 non-null  float64
 5   CategoryCode  85977 non-null  object
 6   BrandID       91125 non-null  float64
 7   USDPrice      90558 non-null  float64
 8   UserID        90558 non-null  float64
 9   Gender        47743 non-null  object
 10  Color         88250 non-null  object
 11  Metal         90448 non-null  object
 12  Gem           61852 non-null  object
dtypes: float64(4), int64(3), object(6)
memory usage: 9.5+ MB

In [15]:
df.isna().sum()

Datetime            0
OrderID             0
ProductID           0
Quantity            0
CategoryID       5352
CategoryCode     9933
BrandID          4785
USDPrice         5352
UserID           5352
Gender          48167
Color            7660
Metal            5462
Gem             34058
dtype: int64

In [19]:
df['Gender'] = df['Gender'].fillna('f')

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95910 entries, 0 to 95909
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Datetime      95910 non-null  object
 1   OrderID       95910 non-null  int64
 2   ProductID     95910 non-null  int64
 3   Quantity      95910 non-null  int64
 4   CategoryID    90558 non-null  float64
 5   CategoryCode  85977 non-null  object
 6   BrandID       91125 non-null  float64
 7   USDPrice      90558 non-null  float64
 8   UserID        90558 non-null  float64
 9   Gender        95910 non-null  object
 10  Color         88250 non-null  object
 11  Metal         90448 non-null  object
 12  Gem           61852 non-null  object
dtypes: float64(4), int64(3), object(6)
memory usage: 9.5+ MB

In [21]:
df.Quantity.unique()

array([1])

In [22]:
df.drop('Quantity',axis=1, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95910 entries, 0 to 95909
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Datetime      95910 non-null  object
 1   OrderID       95910 non-null  int64
 2   ProductID     95910 non-null  int64
 3   CategoryID    90558 non-null  float64
 4   CategoryCode  85977 non-null  object
 5   BrandID       91125 non-null  float64
 6   USDPrice      90558 non-null  float64
 7   UserID        90558 non-null  float64
 8   Gender        95910 non-null  object
 9   Color         88250 non-null  object
 10  Metal         90448 non-null  object
 11  Gem           61852 non-null  object
dtypes: float64(4), int64(2), object(6)
memory usage: 8.8+ MB

In [24]:
df.USDPrice.sum()

np.float64(32801286.369999997)

In [25]:
df.USDPrice.isna().sum()

np.int64(5352)

In [26]:
print(df[df['USDPrice'].isna()].Gem.unique())
print(df[df['USDPrice'].isna()].Metal.unique())
print(df[df['USDPrice'].isna()].BrandID.unique())

[nan]
[nan]
[1.55061295e+18 1.32515621e+18 1.51591563e+18 ... 1.51591563e+18
 1.51591563e+18 1.51591563e+18]

In [27]:
df[df['USDPrice'].isna()].BrandID.value_counts()

BrandID
1.515916e+18    147
1.515916e+18    104
1.515916e+18     74
1.515916e+18     37
1.515916e+18     34
               ...
1.515916e+18      1
1.515916e+18      1
1.515916e+18      1
1.515916e+18      1
1.515916e+18      1
Name: count, Length: 2530, dtype: int64

In [28]:
df[df['BrandID']==1515915625368881664.000000].describe()

            OrderID     ProductID  CategoryID       BrandID  USDPrice  UserID
count  3.400000e+01  3.400000e+01         0.0  3.400000e+01       0.0     0.0
mean   2.638980e+18  1.511337e+18         NaN  1.515916e+18       NaN     NaN
std    3.443835e+16  2.699059e+16         NaN  2.598498e+02       NaN     NaN
min    2.532276e+18  1.358585e+18         NaN  1.515916e+18       NaN     NaN
25%    2.625246e+18  1.515966e+18         NaN  1.515916e+18       NaN     NaN
50%    2.657495e+18  1.515966e+18         NaN  1.515916e+18       NaN     NaN
75%    2.661770e+18  1.515966e+18         NaN  1.515916e+18       NaN     NaN
max    2.676981e+18  1.515966e+18         NaN  1.515916e+18       NaN     NaN

In [33]:
new_df = df[df['USDPrice'].notna() & df['UserID'].notna()]

In [34]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 90558 entries, 0 to 95909
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Datetime      90558 non-null  object
 1   OrderID       90558 non-null  int64
 2   ProductID     90558 non-null  int64
 3   CategoryID    90558 non-null  float64
 4   CategoryCode  80625 non-null  object
 5   BrandID       85773 non-null  float64
 6   USDPrice      90558 non-null  float64
 7   UserID        90558 non-null  float64
 8   Gender        90558 non-null  object
 9   Color         88250 non-null  object
 10  Metal         90448 non-null  object
 11  Gem           61852 non-null  object
dtypes: float64(4), int64(2), object(6)
memory usage: 9.0+ MB

In [37]:
new_df.loc[:, 'CategoryCode'] = new_df['CategoryCode'].fillna('other')

In [38]:
new_df.CategoryCode.value_counts()

CategoryCode
jewelry.earring       29051
jewelry.ring          28300
jewelry.pendant       13088
other                  9933
jewelry.bracelet       6188
jewelry.necklace       2361
jewelry.brooch         1288
jewelry.souvenir        170
electronics.clocks      167
jewelry.stud             12
Name: count, dtype: int64

In [39]:
new_df['BrandID'].fillna('-1',inplace=True)

C:\Users\pratheeba sundar\AppData\Local\Temp\ipykernel_12056\741898642.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  new_df['BrandID'].fillna('-1',inplace=True)
C:\Users\pratheeba sundar\AppData\Local\Temp\ipykernel_12056\741898642.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-1' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  new_df['BrandID'].fillna('-1',inplace=True)
C:\Users\pratheeba sundar\AppData\Local\Temp\ipykernel_12056\741898642.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['BrandID'].fillna('-1',inplace=True)

In [40]:
# If 'BrandID' is numeric, use an integer or float for filling missing values
new_df['BrandID'] = new_df['BrandID'].fillna(-1)  # Use -1 as a number, not as a string

C:\Users\pratheeba sundar\AppData\Local\Temp\ipykernel_12056\1166208503.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['BrandID'] = new_df['BrandID'].fillna(-1)  # Use -1 as a number, not as a string

In [41]:
new_df.loc[:, 'BrandID'] = new_df['BrandID'].fillna(-1)

In [42]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 90558 entries, 0 to 95909
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Datetime      90558 non-null  object
 1   OrderID       90558 non-null  int64
 2   ProductID     90558 non-null  int64
 3   CategoryID    90558 non-null  float64
 4   CategoryCode  90558 non-null  object
 5   BrandID       90558 non-null  object
 6   USDPrice      90558 non-null  float64
 7   UserID        90558 non-null  float64
 8   Gender        90558 non-null  object
 9   Color         88250 non-null  object
 10  Metal         90448 non-null  object
 11  Gem           61852 non-null  object
dtypes: float64(3), int64(2), object(7)
memory usage: 9.0+ MB

In [43]:
new_df['Gem'].unique()

array([nan, 'sapphire', 'diamond', 'amethyst', 'fianit', 'pearl',
       'quartz', 'topaz', 'garnet', 'quartz_smoky', 'ruby', 'agate',
       'mix', 'citrine', 'emerald', 'amber', 'chrysolite', 'chrysoprase',
       'nanocrystal', 'turquoise', 'sitall', 'corundum_synthetic',
       'coral', 'onyx', 'nacre', 'spinel', 'tourmaline',
       'emerald_geothermal', 'garnet_synthetic', 'rhodolite',
       'sapphire_geothermal'], dtype=object)

In [44]:
for i in ('Color','Metal','Gem'):
  if i == 'Color':
    new_df[i].fillna('unknown-color',inplace=True)
  else:
    new_df[i].fillna('unknown',inplace=True)

C:\Users\pratheeba sundar\AppData\Local\Temp\ipykernel_12056\1752074605.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  new_df[i].fillna('unknown-color',inplace=True)
C:\Users\pratheeba sundar\AppData\Local\Temp\ipykernel_12056\1752074605.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df[i].fillna('unknown-color',inplace=True)
C:\Users\pratheeba sundar\AppData\Local\Temp\ipykernel_12056\1752074605.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  new_df[i].fillna('unknown',inplace=True)
C:\Users\pratheeba sundar\AppData\Local\Temp\ipykernel_12056\1752074605.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df[i].fillna('unknown',inplace=True)

In [45]:
new_df[i] = new_df[i].fillna('unknown-color')

C:\Users\pratheeba sundar\AppData\Local\Temp\ipykernel_12056\4209478858.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df[i] = new_df[i].fillna('unknown-color')

In [46]:
new_df.loc[:, i] = new_df[i].fillna('unknown-color')

In [47]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 90558 entries, 0 to 95909
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Datetime      90558 non-null  object
 1   OrderID       90558 non-null  int64
 2   ProductID     90558 non-null  int64
 3   CategoryID    90558 non-null  float64
 4   CategoryCode  90558 non-null  object
 5   BrandID       90558 non-null  object
 6   USDPrice      90558 non-null  float64
 7   UserID        90558 non-null  float64
 8   Gender        90558 non-null  object
 9   Color         90558 non-null  object
 10  Metal         90558 non-null  object
 11  Gem           90558 non-null  object
dtypes: float64(3), int64(2), object(7)
memory usage: 9.0+ MB

In [48]:
print(new_df.Color.value_counts())
sns.countplot(y ='Color', data = new_df)

Color
red              69510
white            15286
yellow            3388
unknown-color     2372
black                2
Name: count, dtype: int64

NameError: name 'sns' is not defined

In [49]:
total sales forecasting

SyntaxError: invalid syntax (2639460722.py, line 1)

In [50]:
new_df['Datetime'] = new_df.Datetime.apply(lambda x : x[:10])
new_df.head()

C:\Users\pratheeba sundar\AppData\Local\Temp\ipykernel_12056\3979147211.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['Datetime'] = new_df.Datetime.apply(lambda x : x[:10])

,Datetime,OrderID,ProductID,CategoryID,CategoryCode,BrandID,USDPrice,UserID,Gender,Color,Metal,Gem
0,2018-12-01,1924899396621697920,1806829193678291446,1.806829e+18,other,-1,212.14,1.515916e+18,f,yellow,gold,unknown
1,2018-12-02,1925511016616034733,1842214461889315556,1.806829e+18,jewelry.pendant,1.0,54.66,1.515916e+18,f,white,gold,sapphire
2,2018-12-02,1925626951238681511,1835566849434059453,1.806829e+18,jewelry.pendant,0.0,88.90,1.515916e+18,f,red,gold,diamond
3,2018-12-02,1925740842841014667,1873936840742928865,1.806829e+18,jewelry.necklace,0.0,417.67,1.515916e+18,f,red,gold,amethyst
4,2018-12-02,1925760595336888995,1835566854827934449,1.806829e+18,jewelry.earring,1.0,102.27,1.515916e+18,f,red,gold,unknown

In [57]:
sales_df =  pd.pivot_table(new_df, 
                 index= 'Datetime' ,
                 values= 'USDPrice'  ,
                 aggfunc= 'sum' ).reset_index()

sales_df.head()

     Datetime  USDPrice
0  2018-12-01    212.14
1  2018-12-02    897.47
2  2018-12-03    978.85
3  2018-12-04   3486.05
4  2018-12-05   1246.58